<%= user.username%>

<!DOCTYPE html>

<head>

<<title>Sinatra Password Security</title>
</head>


<body>
  
  
  
  <h1>Success!</h1>

<h3>Login</h3>




<p>Welcome to the secret content, <%= user.username%>!!. Because we were able to authenticate you, you can see all of this awesome stuff!!</p>
<p>It turns out...</p>

<p>Hello World</p>


<ul>
    <li>Haley Joel Osment was alive the whole time</li>
    <li>Dumbledore kills Snape.</li>
    <li>"Rosebud" was Charles Foster Kane's beloved childhood mini-van.</li>
    <li>You were in purgatory the whole time you were watching "Lost".</li>
</ul>






<p><a href="/logout">Log Out</a></p>

</body>

